<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %> shadow-lg rounded-none"><%= message %></div>
<% end %>
<div class="alert-success alert-error alert-info alert-warning"></div>
